.nav-container {
    max-width: 1440px; 
	margin: 0 auto !important; 
	float: none !important;
}
.nav-links {
    height: 6rem;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 2rem;
}

.nav-links :hover {
    cursor: pointer;
}
li.line {
    font-family: 'Ubuntu', sans-serif;
}
 li{
     list-style: none;
 }

 .blur {
    color: transparent;
    text-shadow: 0 0 4px rgba(0,0,0,1);
 }

 .line {
     text-decoration: underline;
 }